version: '3.7'

services:
  mongo:
    image: mongo:4.2.5 
  logseqcli:
    build: ./Infrastructure/MongoDockerSample.Infrastructure.Log/.
    environment: 
      - "SEQ_LOG_TOKEN=${SEQ_LOG_TOKEN}"
      - "SEQ_SERVER_URL=http://logseq"
    depends_on:
      - logseq
  logseq:
    image: datalust/seq:2020.1
    environment:
      - ACCEPT_EULA=Y
    ports:
      - 2000:80
      - 4000:5341
  api:
    build: .
    ports:
      - 80:80 
    environment: 
      - "Serilog__WriteTo__0__Args__ApiKey=${SEQ_LOG_TOKEN}"
    depends_on:
      - mongo
      - logseq
      - logseqcli
